body {
    height: 100vh;
   background: rgb(23,10,255);
   background: linear-gradient(210deg, rgba(23,10,255,1) 1%, rgba(23,186,151,1) 44%, rgba(14,166,193,1) 100%);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size:1.5rem;
}
a:hover {
    color: #17a6a3;
}
li {
    background-color: white;
    padding: 1rem;
    box-shadow: 7px 7px 15px 0px rgba(51,51,51,0.93);
}
nav li {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.active-li {
    color: #17a6a3;
    font-weight: 500;
}
.detail_title {
    font-size: 3rem;
    letter-spacing: 1rem;
    color:white;
}